{% extends "base.html" %}
{% block title %}about{% endblock %}
{% block content %}
    <h4>About</h4>
    <img src="/static/images/sam.jpg", alt="Sam Dixon. Taken in 2020">
    <p>I'm Sam Dixon and welcome to my site. I am currently working at Zionsville Community Schools and am attending community college studying for a degree in computer science. I currently live in the Indianapolis area with my wonderful fiancé and cat.</p>
    <p>Some of my interests include computers, reading, tennis, and cycling. Recently I have started to get into camping as well.</p>
    <p>If you'd like to get in touch I have <a href="/contact">contact information</a> available. Thanks for reading!</p>
{% endblock %}
