{% extends "base.html" %}
{% block title %}about{% endblock %}
{% block nav_about %}active{% endblock %}
{% block content %}
    <div class="pic-wrapper">
        <img class="pic" src="/static/images/sam.jpg", alt="Sam Dixon. Taken in 2020">
    </div>
    <p>Hey I'm Sam and welcome to my site. I am working at Healthx on DevOps stuff and am attending community college studying for a degree in computer science. I currently live in the Indianapolis area with my wonderful fianceé and cat.</p>
    <p>Some of my interests include computers, reading, tennis, and cycling. Recently I have started to get into camping as well.</p>
    <p>If you'd like to get in touch I have <a href="/contact">contact information</a> available. Thanks for reading!</p>
{% endblock %}
