<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>sjd.im - {% block title %} {% endblock %}</title>
        <meta name="description" content="sjd.im - Sam Dixon personal site">
        <meta name="author" content="Sam Dixon">

        <link type="text/css" rel=stylesheet href="/static/normalize.css">
        <link type="text/css" rel=stylesheet href="/static/styles.css">
        <link type="text/css" rel=stylesheet media="only screen and (min-device-width: 0px) and (max-device-width: 1024px)" href="/static/mobile.css">
        <link rel="icon" href="static/images/favicon.svg" sizes="any" type="image/svg+xml">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>


    </head>
    <body>
        <div id="wrapper">
            <nav>
                <h4><span class="header">Sam Dixon</span></h4>
                <ul>
                    <li class="{% block nav_blog %}{% endblock %}"><a href="/blog">blog</a></li>
                    <li class="{% block nav_projects %}{% endblock %}"><a href="/projects">projects</a></li>
                    <li class="{% block nav_about %}{% endblock %}"><a href="/about">about</a></li>
                    <li class="{% block nav_contact %}{% endblock %}"><a href="/contact">contact</a></li>
                </ul>
            </nav>
            <section>
                <div class="main">
                    <div class="section-content">
                        <h4><span class="header">
                        {% block header %}
                        {% endblock %}
                        </span></h4>
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>
