<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>sjd.im - {% block title %} {% endblock %}</title>
    <meta name="description" content="sjd.im - personal website of Sam Dixon">
    <meta name="author" content="Sam Dixon">

    <link type="text/css" rel=stylesheet href="{{ url_for('static', filename='normalize.css') }}">
    <link type="text/css" rel=stylesheet href="{{ url_for('static', filename='styles.css') }}">
    <link type="text/css" rel=stylesheet media="only screen and (min-device-width: 0px) and (max-device-width: 1024px)" href="{{ url_for('static', filename='mobile.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.svg')}}" sizes="any" type="image/svg+xml">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
  </head>
  <body>
    <div id="wrapper">
      <nav>
        <h4>Sam Dixon</h4>
        <ul>
          <li class="{% block nav_blog %}{% endblock %}">
            <a href="{{ url_for ('blog') }}">blog</a>
          </li>
          <li class="{% block nav_projects %}{% endblock %}">
            <a href="{{ url_for('projects') }}">projects</a>
          </li>
          <li class="{% block nav_about %}{% endblock %}">
            <a href="{{ url_for('about') }}">about</a>
          </li>
        </ul>
      </nav>
      <section>
            {% block content %}
            {% endblock %}
      </section>
    </div>
  </body>
</html>
