{% extends "base.html" %}
{% block title %}contact{% endblock %}
{% block header %}Contact Information{% endblock %}
{% block content %}
    <h4>Contact Information</h4>
    <table>
    <tr>
        <td>email:</td>
        <td><a href="mailto:sdixon@posteo.net">sdixon@posteo.net</a></td>
    </tr>
    <tr>
        <td>matrix:</td> 
        <td><a href="https://matrix.to/#/@sjd:matrix.org" target="blank"> @sjd:matrix.org</a></td>
    </tr>
    <tr>
        <td>github:</td>
        <td><a href="https://github.com/samdixon" target="blank">samdixon</a></td>
    </tr>
    </table>
{% endblock %}
