{% extends "base.html" %}
{% block title %}projects{% endblock %}
{% block nav_projects %}active{% endblock %}
{% block content %}
<h3>Projects</h3>
    <p>Below is a current list of personal projects I am working on. More (and possibly incomplete) projects are available at my <a href="https://github.com/samdixon" target="blank">github</a>.</p>
    <table>
        <th>
            <tr>
                <th>Project</td>
                <th>Description</td>
                <th>Link</td>
            </tr>
        </th>
        <tr>
            <td>easy-publish</td>
            <td>easy-publish makes it easy to publish text files as blog posts.</td>
            <td><a href="https://github.com/samdixon/easy-publish" target="_blank">github</a></td>

        </tr>
        <tr>
            <td>sjd.im</td>
            <td>All files related to my personal website. I use my site as a playground to experiment and learn new technologies.</td>
            <td><a href="https://github.com/samdixon/sjd.im" target="_blank">github</a></td>
        </tr>
    </table>
{% endblock %}
