{% extends "base.html" %}
{% block title %}projects{% endblock %}
{% block content %}
    <h4>Projects</h4>
    <p>Below is a current list of personal projects I am working on. More (and possibly incomplete) projects are available at my <a href="https://github.com/samdixon" target="blank">github</a>.</p>
    <table>
        <tr>
            <td>easy-publish</td>
            <td><a href="https://github.com/samdixon/easy-publish">https://github.com/samdixon/easy-publish</a></td>
        </tr>
        <tr>
            <td>sjd.im</td>
            <td><a href="https://github.com/samdixon/sjd.im">https://github.com/samdixon/sjd.im</a></td>
        </tr>
    </table>
{% endblock %}
