@font-face{
    font-family: 'Source Sans 3';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    src: url('/static/font/SourceSans3-Regular.ttf.woff2') format('woff2')
}

@font-face{
    font-family: 'Source Sans 3';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    font-display: swap;
    src: url('/static/font/SourceSans3-It.ttf.woff2') format('woff2')
}

@font-face{
    font-family: 'Source Sans 3';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    src: url('/static/font/SourceSans3-Semibold.ttf.woff2') format('woff2')
}

@font-face{
    font-family: 'Source Sans 3';
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    font-display: swap;
    src: url('/static/font/SourceSans3-SemiboldIt.ttf.woff2') format('woff2')
}

@font-face{
    font-family: 'Source Sans 3';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    src: url('/static/font/SourceSans3-Bold.ttf.woff2') format('woff2')
}

@font-face{
    font-family: 'Source Sans 3';
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    font-display: swap;
    src: url('/static/font/SourceSans3-BoldIt.ttf.woff2') format('woff2')
}
