#wrapper {
    display: inline;
}

nav {
    position: relative;
    width: auto;
    height: auto;
    font-size: 1.2em;
    padding: 10px;
}

nav ul {
    margin: 0 auto;
    padding:0 auto;
}

nav ul li {
    display: inline;
    padding-right: 10px;
}

.main {
    width: auto;
    margin: 0 auto;
    font-size: 1.1em;
    padding: 10px;
}

.section-content img {
    display: none;
}
