body {
    max-width: 100%;
    font-family: Sans-Serif;
    background-color: 	#f8f8ff;
    font-size: 1.1em;
}

a {
    text-decoration: none;
    word-wrap: break-word;
}

a:visited {
    color: blue;
}

a[href^="https://"] {
    background: url("/static/images/external.png")     center right no-repeat;
    padding-right: 13px;
}

a[href^="mailto:"] {
    background: url("/static/images/external.png")     center right no-repeat;
    padding-right: 13px;
}

#wrapper {
    max-width: 768px;
    padding-left: 1em;
}

nav {
    padding-right: 15px;
    padding-top: 1em;
    padding-bottom: 1em;
}

nav h4, section h4 {
    font-weight: normal;
    padding: 0;
    padding-bottom: 8px;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding-right: .5em;
    display: inline;
}

nav ul li.active {
    text-decoration: underline;
}

section {
    padding: 0;
    margin: 0;
}

section p{
    padding: 0 0 15px 0;
    margin: 0;
}

.header {
    font-weight: bold;
}
section td {
    padding-right: 10px;
}

.main {
    padding: 0;
    margin: 0;
}

.post * {
    padding: 0;
    margin: 0;
}

.post h5 {
    padding: 0 0 1em 0;
    margin: 0;
    font-weight: normal;
}

.post pre {
    padding-bottom: 1em;
}
.post code {
    vertical-align: center;
    display: block;
    padding-bottom: .5em;
    padding-top: .5em;
    padding-left: 1em;
    margin: 0;
    border-left: 5px solid black;
    background-color: lightgray;
    color: black;
    overflow-x: scroll;
}

.post p{
    padding-bottom: 1em;
}

table {
    padding: 0;
    margin: 0;
}


.pic-wrapper {
    position: relative;
    padding: 0;
    margin: 0;
    float: right;
    display: inline;
    width: 252px;
    height: 359px;
}

.pic {
    position: absolute;
}

tr {
    padding: 0;
}
