@font-face {
    font-family: "Libre Baskerville";
    src: url("/static/LibreBaskerville-Regular.ttf");
}

body {
    max-width: 100%;
    font-family: 'Libre Baskerville', serif;
    background-color: 	#f8f8ff;
}

a {
    text-decoration: none;
}

a:visited {
    color: blue;
}

a[href^="https://"] {
    background: url("/static/images/external.png")     center right no-repeat;
    padding-right: 13px;
}

a[href^="mailto:"] {
    background: url("/static/images/external.png")     center right no-repeat;
    padding-right: 13px;
}

#wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 940px;
    margin: 0 auto;
    padding-top: 5px;
}

nav {
    flex-basis: auto;
    flex-grow: 1;
    padding-right: 15px;
}

nav h4, section h4 {
    font-weight: normal;
    padding: 0;
    padding-bottom: 8px;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 0 0 5px 0;
}

section {
    padding: 0;
    margin: 0;
    flex-basis: 0;
    flex-grow: 999;
}

section p{
    padding: 0 0 15px 0;
    margin: 0;
}

section img {
    padding: 0;
    margin: 0;
    float: right;
    display: inline;
}

.header {
    font-weight: bold;
}
section td {
    padding-right: 10px;
}

.main {
    padding: 0;
    margin: 0;
}

.post h5 {
    padding: 0 0 10px 0;
    margin: 0;
    font-weight: normal;
}
