@import url("/static/font.css");

/* Global Settings*/
body {
    max-width: 100%;
    font-family: 'Source Sans 3', Sans-Serif;
    background-color: 	#f8f8ff;
}

/* Global Font Settings*/
h4 {
    font-weight: 500;
    margin: 0;
}

a {
    color: #004394;
    text-decoration: none;
    word-wrap: break-word;
}

a[href^="https://"] {
    background: url("/static/images/external.png")     center right no-repeat;
    padding-right: 13px;
}

a[href^="mailto:"] {
    background: url("/static/images/external.png")     center right no-repeat;
    padding-right: 13px;
}

/* Main Body Settings */
#wrapper {
    max-width: 768px;
    padding-left: .8em;
}

/* Nav */
nav {
    padding-right: 15px;
    padding-top: .8em;
    padding-bottom: 1em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding-right: .5em;
    display: inline;
}

nav ul li.active {
    text-decoration: underline;
}

/* Section */
section {
    padding: 0;
    margin: 0;
}

section h3 {
    padding: 0;
    margin: .5em 0;
    font-weight: 600;
}

section p {
    margin-top: 0;
    padding: 0;
    font-weight: 400;
    line-height: 1.4;
    color: #222;
}

section ul {
    margin-top: 0;
    padding: 0;
}

section li {
    list-style: none;
}

span.table-title {
    padding: 0;
    margin: 0;
}

table {
    padding: 0 0 1em 0;
    margin: 0;
}

th {
    text-align: left;
}

td {
    padding-right: 15px;
}

.post-header {
    margin: 0 0 1em 0;
}

.post-header a {
    padding: 0;
    margin: 0;
    font-size: .8em;
}

.post-header h2 {
    margin: 0;
}

.post h5 {
    margin: 0;
    font-weight: normal;
}

.post pre {
    font-size: 90%;
    line-height: 1.2em;
    font-family: "Courier 10 Pitch", Courier, monospace; 
    white-space: pre; 
    white-space: pre-wrap; 
    white-space: -moz-pre-wrap; 
    white-space: -o-pre-wrap; 
    height:1%;
    width: auto;
    display: block;
    clear: both;
    color: #555555;
    padding: 1em 1em;
    margin 0;
    background: #f4f4f4;
    border: solid 1px #e1e1e1
}

.post code { 
    font-size: 90%;
    line-height: 1em;
    font-family: monospace;
    display: inline; 
    color: #555555;
    background: #f4f4f4;
}

.post img {
    max-width: 100%
}


/* Need this so the pic doesn't load in and visually shift the text */
.pic-wrapper {
    float: right;
    padding: .1em 1em;
    margin: 0;
    width: 252px;
    height: 359px;
}

.pic-wrapper img {
    width: 70%;
    border-radius: 1px;
}

tr {
    padding: 0;
}
